@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');

@import 'tailwindcss';

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center leading-[1.4];
  }

  .small-caps {
    @apply tracking-[0.05em] uppercase text-[12px] font-[600];
  }

    .blog {
    @apply text-[18px] leading-[1.5] font-[400] tracking-[0] max-lg:text-[16px] dark:text-gray-100;

    h1 {
      @apply text-[46px] font-[700] leading-[1.2] tracking-[-0.02em] py-6 max-lg:text-[37px];
    }

    h2 {
      @apply text-[37px] font-[700] leading-[1.2] tracking-[-0.02em] py-6 max-lg:text-[30px];
    }

    h3 {
      @apply text-[30px] font-[700] leading-[1.2] tracking-[-0.02em] py-4 max-lg:text-[24px];
    }

    h4 {
      @apply text-[24px] font-[700] leading-[1.2] tracking-[-0.02em] py-4 max-lg:text-[18px];
    }

    p {
      @apply py-4;
    }

    ul {
      @apply list-disc py-4 pl-6 leading-[1.5];
    }

    ol {
      @apply list-decimal py-4 pl-6 leading-[1.5];
    }

    img {
      @apply max-w-[760px] mx-auto rounded-[16px];
    }

    a {
      @apply text-blue-600 no-underline transition-colors hover:text-blue-700;
    }
    

    blockquote {
      @apply border-l-4 border-blue-500 pl-4 py-4 my-4 rounded-[16px] bg-gray-50 dark:bg-gray-800;
      p {
        @apply text-[18px] leading-[1.5] font-[400] py-1 max-lg:text-[16px];
      }
    }

    hr {
      @apply my-4 border-0 h-[1px] bg-gray-300 dark:bg-gray-700;
    }
  }
}

@layer base {
  html {
    font-family: 'Noto Sans SC', sans-serif;
    scroll-behavior: smooth;
  }
  html,
  body {
    padding: 0;
    margin: 0;
    @apply bg-white dark:bg-gray-900;
  }
}